.headerBar {
    position: fixed; /* Mantiene el header en la parte superior */
    top: 0; /* Alinea el header en la parte superior */
    left: 0; /* Alinea el header a la izquierda */
    right: 0; /* Alinea el header a la derecha */
    background-color: rgba(117, 164, 112, 0.7);
    text-align: center;
    padding: 5px 0;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.headerTitle {
    font-size: 2rem; 
    font-weight: bold;
    margin: 0;
    font-family: 'Bai Jamjuree';
}

.headerSubtitleContainer {
    margin: 0; /* Elimina márgenes adicionales */
}

.headerSubtitle {
    font-size: 1rem; /* Tamaño del subtítulo */
    margin-top: 0px; 
    margin-bottom: 0; 
    color: #FFB74D; 
    text-align: center;
}

.btnsImgContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.navBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 2px;
}

.btnNavegation {
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}