/* Contenedor principal */
.containerSection1 {
    margin-bottom: 20px;
}

.section1 {
    display: flex;
    justify-content: center; /* Mantiene todo centrado */
    align-items: center; 
    gap: 10px;  /* Espacio equilibrado entre los elementos */
    margin-top: 12rem;
}

/* Botones circulares de redes sociales */


.wppBtn, .igBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Asegura que la imagen no se salga del contenedor */
}

.wppBtn img {
    height: 100px;  /* Ajuste específico para WhatsApp */
    width: auto;   /* Mantiene la proporción */

}

.igBtn img {
    height: 80px;  /* Ajuste específico para Instagram */
    width: auto;   /* Mantiene la proporción */


}
/* Slider */
.containerSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 170px;
    height: 170px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s ease-in-out;
}

ul.slider li img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}

ul.slider li.visibleSlide {
    opacity: 1;
}

.menuSlider {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.menuSlider li {
    display: inline-block;
    margin: 0 5px;
}

.menuSlider li a {
    text-align: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerAsesoramientoPerson {
    text-align: center;
    margin-top: 0.5em;
}

.asesoramientoPersonalizado{
    margin-top: -1em;
}

.asesoramientoPersonalizado h3 {
    margin-bottom: -1em;
    text-decoration: none;
    color: black;
}
.asesoramientoPersonalizado a {
    text-decoration: none;
}

.asesoramientoPersonalizado a {
    color: black;
}

.logoAsesoramientoPersonalizado{
    margin: 0.2em;
}

.bi-tags{
    font-size: 2rem;
}
