.containerSection2 {
    display: flex;
    justify-content: center;
}

.containerIMGx3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerIMGx3 img {
    height: 300px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border: 2px solid green;
}